    <center>
      <div class="row margin-bottom">
      <div class="col-sm-12">
          <img class="img-responsive" src="torrent-ufpi.png" alt="Photo">
      </div>
    </div>
    </center>
    <form action="/search" method="post" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="filename" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>