        <div class="box-body table-responsive no-padding">
                    <tr> 
            <div class="col-sm-2">
              <img class="img-responsive" src="file.png" alt="Photo">
            </div>
            </tr>
        <table class="table table-hover">
          <tr>
            <tr><%= @download%></tr>
        </table>
      </div>